<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>¿Como Funciona?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"  href="../css/estilos.css">
  </head>
  <body>    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../img/logo.png" alt="logo" width="120px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="servicios.html">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Funciona.html">¿Como Funciona?</a>          
                         
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Cuidador.html">Quiero ser Cuidador</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <button class="btn btn-outline-success" type="submit">Registrarse</button>
            <button class="btn btn-outline-success" type="submit">Ingresar</button>
          </form>

        </div>
      </div>
    </nav>
  </section> 
  <div class="sc-bdnxRM iMaMwB"><h2 class="sc-bdnxRM jEgUdf">¿Cómo funciona PetAngels?</h2>
    <div class="sc-bdnxRM sc-gtsrHT hSZBRU gfuSqG"><div width="1,0.3333333333333333" class="sc-bdnxRM sc-gtsrHT gCXhVM gfuSqG">
      <div class="sc-bdnxRM sc-gtsrHT fzUdiI gfuSqG"><div font-size="7" class="sc-bdnxRM bhPxOr">
        <div font-size="5" color="inuOrange" class="sc-bdnxRM lfSKOQ"></div>
      </div>
      <div class="sc-bdnxRM cqTHxz"><h3 class="sc-bdnxRM cDexFf">Busca</h3>
       <p class="sc-bdnxRM fzUdiI">Elije el cuidador perfecto para tu amigo</p>
      </div>
    </div>
  </div>
  <div width="1,0.3333333333333333" class="sc-bdnxRM sc-gtsrHT gCXhVM gfuSqG">
    <div class="sc-bdnxRM sc-gtsrHT fzUdiI gfuSqG">
      <div font-size="7" class="sc-bdnxRM bhPxOr">
        <div font-size="5" color="inuOrange" class="sc-bdnxRM lfSKOQ">            
        </div>
      </div>
      <div class="sc-bdnxRM cqTHxz"><h3 class="sc-bdnxRM cDexFf">Reserva</h3>
        <p class="sc-bdnxRM fzUdiI">Programa el dia, la hora y la duracion del servicio</p>
      </div>
    </div>
  </div>
  <div width="1,0.3333333333333333" class="sc-bdnxRM sc-gtsrHT gCXhVM gfuSqG">
    <div class="sc-bdnxRM sc-gtsrHT fzUdiI gfuSqG"><div font-size="7" class="sc-bdnxRM bhPxOr">
      <div font-size="5" color="inuOrange" class="sc-bdnxRM lfSKOQ"></div></div><div class="sc-bdnxRM cqTHxz"><h3 class="sc-bdnxRM cDexFf">Listo!!</h3>
        <p class="sc-bdnxRM fzUdiI">Recibe constantemente fotos de tu mascota para mayor tranquilidad</p>
      </div>
    </div>
  </div>
</div>
</div>
    <footer class= "main-footer">
        <div class="container container--flex">
        <div class="column column--33">
          <h2 class="column_title">¿Por que somos los mejores?</h2> 	   
          <p class="column_txt">Contamos con personal calificado y 
          tenemos mas de 10 años de experiancia </p>
        </div>
        <div class="column column--33">
          <h2 class="column_title">Contactanos</h2>
          <p class="column_txt">CCial las Americas</p>
          <p class="column_txt">Telefono 9999-9987</p>
          <p class="column_txt">huellitas@cuidamos.com</p>		
        </div>
         <div class="column  column--33">
          <h2 class="column_title">Siguenos en nuestras redes</h2>
          <p class="column_txt"><a href="" class="icon-facebook">Facebook</a></p>
          <p class="column_txt"><a href="" class="icon-twitter">Siguenos en Twitter</a></p>
          <p class="column_txt"><a href="" class="icon-youtobe">Visita nuestro canal</a></p>    
         </div>
         <p class="copy">Copyright 2022 | Todos los derechos reservados</p>
        </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
  </html>