<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"  href="../css/estilos.css">
  </head>
  <body>    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../img/logo.png" alt="logo" width="120px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="servicios.html">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Funciona.html">¿Como Funciona?</a>    
                       
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Cuidador.html">Quiero ser Cuidador</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <button class="btn btn-outline-success" type="submit">Registrarse</button>
            <button class="btn btn-outline-success" type="submit">Ingresar</button>
          </form>

        </div>
      </div>
    </nav>
    
    <section class="main_about_description">
      <div class="container container--flex">
       <div class="column column--50">
       <img src="../img/somos.png" alt="" class="main_about_description_img">
       </div>
       <div class="column column--50">
        <h2 class="column_title"> Somos....</h2>
        <h3 class="column_title"> Expertos en Cuidado y Atencion</h3>
        <p class="column_txt">Contamos con una comunidad que ama a los animales,siempre estan dispuestos a cuidar a las mascotas de nuestros clientes con la mejor atencion  </p>
       
      </div>
     </div>
     </section>
    
    <section class="group group--color">
      <div class="container">
        <h2 class="main_title">En PetAngels el bienestar de tu mascota es lo mas importante</h2>    
          <p class="main_txt"></p>
        </div>
    </section> 
    
    <footer class= "main-footer">
        <div class="container container--flex">
        <div class="column column--33">
          <h2 class="column_title">¿Por que somos los mejores?</h2> 	   
          <p class="column_txt">Contamos con personal calificado y 
          tenemos mas de 10 años de experiancia </p>
        </div>
        <div class="column column--33">
          <h2 class="column_title">Contactanos</h2>
          <p class="column_txt">CCial las Americas</p>
          <p class="column_txt">Telefono 9999-9987</p>
          <p class="column_txt">huellitas@cuidamos.com</p>		
        </div>
         <div class="column  column--33">
          <h2 class="column_title">Siguenos en nuestras redes</h2>
          <p class="column_txt"><a href="" class="icon-facebook">Facebook</a></p>
          <p class="column_txt"><a href="" class="icon-twitter">Siguenos en Twitter</a></p>
          <p class="column_txt"><a href="" class="icon-youtobe">Visita nuestro canal</a></p>    
         </div>
         <p class="copy">Copyright 2022 | Todos los derechos reservados</p>
        </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
  </html>